.cantidad-carro {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
  }
  .ver-carrito {
    font-size: 18px;
    margin: 0 2rem 0 4rem;
    cursor: pointer;
  }